<%- include("templates/header")%>

<div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
  <div class="text-center">
    <h1
      class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
    >
      Welcome <% if (!auth) { %> Guest! <% } else { %> <%= username %> <% } %>
    </h1>
    <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">
      <% if (!auth) { %> You are currently not logged in. <% } else { %> You are
      logged in, go checkout stuff. <% } %>
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <p>Some other content</p>
    </div>
  </div>
</div>

<%- include("templates/footer")%>
