<%- include("templates/header")%>

<div class="flex flex-col">
  <ol
    class="flex flex-col md:flex-row justify-center items-start w-screen px-12 py-8 gap-4"
  >
    <% for(let i=0; i < imgs.length; i++) { %> <%- include('templates/images',
    {img: imgs[i]}) %> <% } %>
  </ol>
</div>

<%- include("templates/footer")%>
